* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9;
  background-image: url("https://cdn.wallpapersafari.com/58/24/HuOX2p.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: overlay;
}

body,
html,
.App,
#root,
.outer {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-brand {
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
  padding: 10px 16px;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: auto;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.nav-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.login-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-inner {
  width: 350px;
  margin-top: -42vh;
  margin-left: 1vw;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-inner{
  width: 350px;
  margin-top: -42vh;
  margin-left: 1vw;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-label{
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: -5px;
  padding-bottom: 1vh;
}

.form-group{
  padding-bottom: 2vh;
}

.outer .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 900;
  font-size: larger;
  font-family: 'Calibri', sans-serif;
  color: white;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.error{
  border-color: #c92432;
  color: #c92432;
  background: black;
}